.markdown {
    margin: 30px 0;
}

.markdown {
    font-family: "Microsoft YaHei", Helvetica, arial, sans-serif;
    font-size: 14px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
    display: block;
    margin: 15px 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.7;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
}

.markdown h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
}

.markdown h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee;
}

.markdown h3 {
    font-size: 1.5em;
}

.markdown h4 {
    font-size: 1.2em;
}

.markdown h5 {
    font-size: 1em;
}

.markdown h6 {
    font-size: 1em;
    color: #777;
}

.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown ol ol {
    list-style-type: lower-roman;
}

.markdown ol ol,
.markdown ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown ul li,
.markdown ol li {
    font-size: 14px;
    line-height: 1.6;
}

.markdown dd {
    margin-left: 0;
}

.markdown dl {
    padding: 0;
}

.markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
}

.markdown dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}

.markdown blockquote {
    margin: 15px 0;
    padding: 10px;
    font-size: 13px;
    line-height: 1.7;
}

.markdown blockquote > p {
    margin: 0;
}

.markdown blockquote.info {
    border: 1px solid #3c763d;
    background-color: #d9edf7;
    color: #31708f;
}

.markdown blockquote.warn {
    border: 1px solid #8a6d3b;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.markdown table {
    width: 100%;
    overflow: auto;
    display: block;
}

.markdown table th {
    background-color: #f0f0f0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.markdown table th,
.markdown table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

.markdown table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown img {
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.markdown code,
.markdown pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
}

.markdown pre {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown code {
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
}

.markdown code:before,
.markdown code:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}

.markdown pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.markdown .highlight pre,
.markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 18px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.markdown pre {
    word-wrap: normal;
}

.markdown pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    max-width: initial;
    display: inline;
    overflow: initial;
    line-height: inherit;
}

.markdown pre code:before,
.markdown pre code:after {
    content: normal;
}
